
div.header { 
    color = green;
    text-align = center;
    font-size = 16px;
    font-weight = bold;
    margin-bottom = 0px;    
}

div.subheader {
    color = green;
    text-align = center;
    font-size = 10px;   
}


body {
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    background-size: cover; 
}


div.house {
    text-align: center;
    padding-top: 10px;
    height: 50px;
    width: 100px;
    position: relative;
    left: 350px;
    top: 250px;
    border: 2px solid sandybrown;
    background-color: wheat
}

div.house:hover {
    background-color: #FFDAB9;
    color: seagreen;
    cursor: pointer;
    transform: scale(1.5) perspective(1px)
}

div.recycling {
    text-align: center;
    padding-top: 10px;
    height: 30px;
    width: 100px;
    position: relative;
    left: 550px;
    top: 310px;
    border: 2px solid sandybrown;
    background-color: wheat
}

div.recycling:hover {
    background-color: #FFDAB9;
    color: seagreen;
    cursor: pointer;
    transform: scale(1.5) perspective(1px)
}

div.bees {
    text-align: center;
    padding-top: 10px;
    height: 30px;
    width: 100px;
    position: relative;
    left: 950px;
    top: 380px;
    border: 2px solid sandybrown;
    background: wheat;
}

div.bees:hover {
    background-color: #FFDAB9;
    color: seagreen;
    cursor: pointer;
    transform: scale(1.5) perspective(1px)
}
