body {
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    background-size: cover; 
}

div.header {
    text-align: center;
    font-family: helvetica;
    color: black;
    font-weight: bold;
}

div.house {
    text-align: center;
    font-family: helvetica;
    padding-top: 10px;
    height: 50px;
    width: 100px;
    position: relative;
    left: 350px;
    top: 200px;
    border: 2px solid sandybrown;
    background-color: wheat
}

div.house:hover {
    background-color: #FFDAB9;
    color: seagreen;
    cursor: pointer;
    transform: scale(1.5) perspective(1px)
}

div.recycling {
    text-align: center;
    font-family: helvetica;
    padding-top: 10px;
    height: 30px;
    width: 100px;
    position: relative;
    left: 550px;
    top: 300px;
    border: 2px solid sandybrown;
    background-color: wheat
}

div.recycling:hover {
    background-color: #FFDAB9;
    color: seagreen;
    cursor: pointer;
    transform: scale(1.5) perspective(1px)
}

div.bees {
    text-align: center;
    font-family: helvetica;
    padding-top: 10px;
    height: 30px;
    width: 100px;
    position: relative;
    left: 980px;
    top: 320px;
    border: 2px solid sandybrown;
    background: wheat;
}

div.bees:hover {
    background-color: #FFDAB9;
    color: seagreen;
    cursor: pointer;
    transform: scale(1.5) perspective(1px)
}

div.frogs {
    text-align: center;
    font-family: helvetica;
    padding-top: 10px;
    height: 30px;
    width: 100px;
    position: relative;
    left: 950px;
    top: 200px;
    border: 2px solid sandybrown;
    background: wheat;
}

div.frogs:hover {
    background-color: #FFDAB9;
    color: seagreen;
    cursor: pointer;
    transform: scale(1.5) perspective(1px)
}

div.greenhouse {
    text-align: center;
    font-family: helvetica;
    padding-top: 10px;
    height: 30px;
    width: 100px;
    position: relative;
    left: 980px;
    top: 0px;
    border: 2px solid sandybrown;
    background: wheat;
}

div.greenhouse:hover {
    background-color: #FFDAB9;
    color: seagreen;
    cursor: pointer;
    transform: scale(1.5) perspective(1px)
}

div.garden {
    text-align: center;
    font-family: helvetica;
    padding-top: 10px;
    height: 30px;
    width: 100px;
    position: relative;
    left: 550px;
    top: 5px;
    border: 2px solid sandybrown;
    background: wheat;
}

div.garden:hover {
    background-color: #FFDAB9;
    color: seagreen;
    cursor: pointer;
    transform: scale(1.5) perspective(1px)
}
