h3 {
    color: rebeccapurple;
    text-align: center;
    width: 300px;
    font: italic;
}

#section1 {
    color: seagreen;
}

#section2 {
    color: rgb(196, 30, 88);
    border: 2px solid blue;
}

header li {
    list-style: none;
}

a:link,
a:visited {
    display: block;
    color: purple;
    border: 2px solid rebeccapurple;
    width: 200px;
    margin-bottom: 1px;
}

a:hover,
a:active {
    color: tan;
    background-color: black;
}